<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>To do</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
  <body>
    <h2>@Model.GetAlbum()</h2>
    <h2>@Model.GetArtist()</h2>

    <h2><a href="/">Cd List</a></h2>
    <h2><a href="/add">Add a new Cd!</a></h2>
  </body>
</html>
