<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>To do</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
  <body>
    <h1>Cd's</h1>
    <form action="/" method="post">
      <label for="cd-artist">Artist:</label>
      <input id="cd-artist" name="cd-artist" type="text">
      <label for="cd-album">Album:</label>
      <input id="cd-album" name="cd-album" type="text">
      <button type="submit">Add</button>
    </form>
    <h2><a href="/add">Add a new Cd!</a></h2>
  </body>
</html>
