<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>To do</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
  <body>
    <h1>Cd's</h1>
    @if (@Model.Count == 0)
    {
      <h3>Welcome to your Cd Database!<br>Add a Cd below...</h3>
    }
    @foreach (var cd in Model)
    {
      <h3><a href="/cds/@cd.GetId()">@cd.GetArtist()<br>@cd.GetAlbum()</a></h3>
    }
    <h2><a href="/add">Add a new Cd!</a></h2>
  </body>
</html>
